<html>
  <head>
    <title>New Branch Title</title>
    <link rel="stylesheet" type="text/css" href="<%= url("/css/styles.css")%>"/>
  </head>
  <body>
    <div class="page">
      <form method="post" action="/">
        <input type="text" name="name" />
        <input type="text" name="description" />
        <input type="number" name="price" />
        <input type="range" name="availability" />
        <input type="submit" name="add" value="add" />
      </form>
    </div>
  </body>
</html>
