* {
  margin: 0 auto;
}

body {
  /* background-color: rgba(126, 200, 240, 0.708);
   */
  background: linear-gradient(
    180deg,
    rgba(126, 200, 240, 0.708) 0%,
    rgba(200, 167, 240, 0.9) 70%
  );
  background-size: 100%, 100%;
}

html {
  height: 100%;
}

h1,
h2,
h3,
p {
  color: var(--text);
}

textarea {
  appearance: none;
  background-color: none;
  border: 3px solid var(--c2);
  font-size: 17px;
  width: 300px;
  height: 70px;
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 0.01em;
  font-family: var(--mono);
}

input[type="text"]:focus,
input[type="input"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: none;
  outline: none;
}

input[type="text"],
input[type="input"],
input[type="password"] {
  appearance: none;
  background-color: none;
  border: 3px solid var(--c2);
  font-size: 17px;
  width: 300px;
  height: 30px;
  padding: 10px 15px;
  border: 30px;
  border-radius: 5px;
  border-color: black;
  letter-spacing: 0.01em;
  box-shadow: 5px 5px 3px rgba(79, 78, 78, 0.571);
}

input[type="submit"] {
  padding: 0.5em 1em;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  background-image: -webkit-linear-gradient(var(--c2) 0%, #67ceff 100%);
  background-image: linear-gradient(var(--c2) 0%, #67ceff 100%);
  transition: 0.4s;
  border: 30px;
  border-radius: 15px;
  border-color: black;
}

:root {
  --color: ;
  --colour_a: white;
  --colour_b: #303943;
  --colour_pop: rgb(200, 133, 226);
  --text: rgb(59, 58, 58);
}

.page {
  width: 100%;
  max-width: 2560px;
  min-height: 100vh;
  height: fit-content;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 40px;
  /* background-color: var(--colour_a); */
  justify-content: center;
  background-image: url("Background.jpg") no-repeat;
}

.properties_page {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 30px;
}

.header.container {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  width: 500px;
  justify-content: center;
  align-items: center;
}

.header.text {
  flex: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 500px;
  border-radius: 20px;
  background-color: white;
  /* border: 1px solid var(--colour_pop); */
  box-shadow: 5px 5px 3px rgba(79, 78, 78, 0.571);
}
.middle {
  grid-column: 4 / 10;
}

.add-form {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_main {
  border-top: 50px;
  display: block;
}
.form_input {
  width: 100%;
  padding: 5px;
  border-top: 50px;
}

.form_options {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.slider {
  width: 15%;
  height: 20px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.02s;
  border-radius: 10px;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
  border-radius: 30px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
  border-radius: 30px;
}

.add_page {
  width: 100%;
  min-height: 90vh;
  height: fit-content;
}

.login-window {
  background-color: var(--c2);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40vw;
  height: 40vh;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--colour_pop);
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.signup-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: seagreen; */
  justify-content: center;
  align-items: center;
}

.add_prop_title {
  padding-top: 100px;
}

.login_page {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.login_container {
  grid-column: 5/9;
}

.login_box {
  width: 405px;
  height: 569px;
  background: #DAD6DC;
  box-shadow: 10px 10px 5px rgba(168, 159, 173, 0.57);
  border-radius: 8px;
}
